* {

        box-sizing: border-box;
        background-image: url("../images/herringbone.png");
        color:black;
        display: inline-block;
    }
    body{
        background: gray;
        color: #333;
        }

        h1 {
            position: absolute;
            top: 40px; 
            margin: auto;
            float: left;
            text-align: left;
            color: #ffffff;
            background-color: #4aaaa5;
            padding: 15px;
            font-family: 'Times New Roman', Times, serif;
        }
        header {
            display: block;
            margin: -15px auto;
            background: #ffffff;
            float: left;
            width: 100%;
            margin-bottom: 25px;
            border-bottom: gray;
            border-bottom-style: solid;
            border-bottom-width: thin;
        }
        
        #container {
            max-width: 960px;
            box-sizing: border-box;
            overflow: auto;
            margin: auto;
            height: auyo;
            background-color: #ffffff;
            padding: 50px;
            border: 1px solid #d1d0d0;
            border-radius: 4px;
            margin-bottom: 30px;
    
            }

            #container {
                max-width: 960px;
                box-sizing: border-box;
                overflow: auto;
                margin: auto;
                height: auyo;
                background-color: #ffffff;
                padding: 50px;
                border: 1px solid #d1d0d0;
                border-radius: 4px;
                margin-bottom: 30px;
        
                }
        
            }
        div{
            display: block;
        }
            .navigation {
                position: relative;
                max-width: 960px;
                box-sizing: border-box;
                overflow: hidden;
                margin: auto;
                height: 100%;
                background-color: #ffffff;
                border-bottom: 1px solid #d1d0d0;
            }
            .nav{
                float: right;
            }
            
            h1 {
                position: absolute;
                top: 40px; 
                margin: auto;
                float: left;
                text-align: left;
                color: #ffffff;
                background-color: #4aaaa5;
                padding: 15px;
                font-family: 'Times New Roman', Times, serif;
            }
                  p {
                    margin-bottom: 20px;
                    font-size: 18px;
                    line-height: 28px;
                  }
                  h2 {
                    display: block;
                    font-size: 1.5em;
                    margin-block-start: 0.83em;
                    margin-block-end: 0.83em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    font-weight: bold;
                }
                 h2 {
                    text-align: left;
                    clear: both;
                    color: #4aaaa5;
                    font-size: 24px;
                    font-family: 'Times New Roman', Times, serif;
                }
                  
               #container {
                   float: right;
                   font-size: 20px;
               }
               p {
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
           
              
           #container {
               float: right;
               font-size: 20px;
               margin: 50px;
               padding: 50px;
           }
           
        .bio-image {
            float: left;
        }
        footer{
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        color: #ffffff;
        height: 50px;
        background-color: #666666;
        padding: 20px;
        border-top: 8px solid #4aaaa5;
        border-color: #4aaaa5;
        }    
    